body {
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #c2c5c7;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-inner img {
    width: 150px;
    height: 150px;
}

.header-inner h1 {
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

nav {
    background-color: #333;
    padding: 12px 0;
    text-align: center;
}

nav a {
    color: white;
    font-size: 23px;
    line-height: 1;
    margin: 0 70px;
    font-weight: bold;
    text-decoration: none;
}

nav a.active {
    color: #ffdd57;
    transform: scale(1.1);
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

.images5 {
    display: flex;
    justify-content: center;
}

.images5 img {
    width: 60%;
    max-width: 800px;
    height: auto;
}

.comments-wrapper {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 30px 0;
}

.images img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content {
    text-align: center;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.content h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 28px;
}

.content p {
    margin: 25px 0;
    font-size: 1.1em;
}

.content a {
    color: #135e93;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}